<h1><%= @contacts_title %></h1>

<ul>
	<li><a href="/contacts/new">Add New Contact</a></li>
	<li><a href="/contacts/:id">View a Contact</a></li>
	<li><a href="/contacts/:id/edit">Modify Existing Contact</a></li>
</ul>