<h1>Welcome to <%= @crm_app_name %></h1>
<p><%= @title_name %></p>
<ul>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/new">Add New Contact</a></li>
	<li><a href="/contacts/:id">View a Contact</a></li>
	<li><a href="/contacts/:id/edit">Modify Existing Contact</a></li>
</ul>
</ul>
