
<h2>Main Menu</h2>

	<p><a href="/contacts">View all contacts</a></p>
	<p><a href="/contacts/new">Add New Contact</a></p>
	<p><a href="/find">Find/Edit/Delete Contact</a></p>
	

<%# old link from find a contact was /contacts/:id/ %>
