
<h2>Main Menu</h2>

	<p class="button_main"><a href="/contacts">View all contacts</a></p>
	<p class="button_main"><a href="/contacts/new">Add New Contact</a></p>
	<p class="button_main"><a href="/find">Find/Edit/Delete Contact</a></p>
	


