<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div id="header">
		<h1>Customer Relationship Manager</h1>
		<h4>
			<a class="button_header" href="/">Main Menu</a>
			<a class="button_header" href="contacts/new">Add New</a>
			<a class="button_header" href="/contacts">View all</a>
			<a class="button_header" href="/find">Modify</a>
		</h4>
	</div>
	<div id="main_container">
		
		<%= yield %>
		
	</div>
</body>
</html>