<html>
<head>
	<title>Customer Relationship Manager</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div id="header">
		<h1>Customer Relationship Manager</h1>
		<h3><a href="/">Main Menu</a>
			<a href="contacts/new">Add New Contact</a>
			<a href="/contacts">View all contacts</a>
			<a href="/find">Find/Edit/Delete Contact</a></h3>
	</div>
	<div id="main_container">
		
		<%= yield %>
		
	</div>
</body>
</html>