<h2>Create New Contact</h2>

<form action="/contacts" method="post">
	
		<input type="text" name="first_name" placeholder="First Name" size="30"><br />
		<input type="text" name="last_name" placeholder="Last Name" size="30"><br />
		<input type="text" name="email" placeholder="Email" size="30"><br />
		<input type="text" name="notes" placeholder="Notes" size="30"><br />
		<input type="Submit" name="Submit">
		
</form>