<h2>Create New Contact</h2>

<form action="/contacts" method="post">
	<input type="text" name="first_name" value="First Name" size="30"><br />
	<input type="text" name="last_name" value="Last Name" size="30"><br />
	<input type="text" name="email" value="Email" size="30"><br />
	<input type="text" name="notes" value="Notes" size="30"><br />
	<input type="Submit" name="Submit">
</form>